<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>Recipes</title>

  <!-- css -->
  <link href="stylesheets/base.css" rel="stylesheet">
  <link href="stylesheets/project.css" rel="stylesheet">
  
  <!-- favicon -->
  <!-- ... -->
</head>
<body class="page-orange">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="/">Recetas</a>
  </header>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="content-heading"> <img class="logo-img" src="images/cocinero.png"> Recetas de Cocina</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
          <section class="content-inner margin-top-no">
            <div class="card">
              <div class="card-main">
                <div class="card-inner">
                  <p>El arte de la buena mesa se está perdiendo, así como el de la conversación. En un mundo marcado por la velocidad y los carbohidratos, la hamburguesa es el gran símbolo de la practicidad y la gimnasia el de la salud. La apariencia delgada de las mujeres convertida en obsesión dietética y la indiferencia de la juventud han terminado con los placeres de la mesa. Miles de años de cultura gastronómica son reemplazadaos por alimentos de producción altamente tecnificados.

                  Así han desaparecido de la mesa moderna los deliciosos conejos, los hígados, el cordero, las salsas, etc., para ser reemplazados por la simulación química de la comida.</p>
                </div>
              </div>
            </div>
            <h2 class="content-sub-heading"> Recetas <p class="margin-top-no"><a id="add-recipe" class="btn btn-green waves-attach">Agregar Receta</a>&nbsp;&nbsp;&nbsp;</p>
            </h2>
            <p></p>
            <div class="table-responsive">
              <table class="table" title="A basic table">
                <thead>
                  <tr>
                    <th>codigo</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  <% if (objectRecipe) { %>
                  <% objectRecipe.forEach(function(objRec) { %>
                  <tr class="<%= objRec._id %>">
                    <td><%= objRec.code %></td>
                    <td><%= objRec.name %></td>
                    <!--<td><%= objRec.description %></td>-->
                    <td><%= objRec.author %></td>
                    <td><%= objRec.department %></td>
                    <!--<td><%= objRec.ingredients %></td>-->
                    <!--<td><%= objRec.steps %></td>
                    <td><%= objRec.imageurl %></td>-->
                    <td>
                      <div class="row">
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-green waves-attach waves-circle" href="receta/<%= objRec._id %>">V</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a id="<%= objRec._id %>" class="show-modify-form fbtn fbtn-orange waves-attach waves-circle" href="#">E</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a id="<%= objRec._id %>" class="delete-recipe fbtn fbtn-red waves-attach waves-circle waves-light">B</a></p>
                        <input type="hidden" value="<%= objRec._id %>">
                        </div>
                      </div>
                    </td>
                  </tr>
                   <% }); %>
                  <% } else { %>
                  <tr style="text-align:center;">
                    <td>Para crear una receta, dé click en el boton <span class="fa fa-plus-circle"></span></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <form class="form-recipe" enctype="multipart/form-data" action="crearReceta" method="POST" >
              <div id="form-add-recipe" class="col-md-12" style="display: none;" >
                <div>
                  <label for=""><h2>Ingrese la nueva receta</h2></label>
                </div>

                <section class="col-md-6 ">
                  <div class="form-group" id="code">
                    <label for="bio">Código:</label><br>
                    <input class="form-control" type="text" name="code" value="">
                  </div>

                  <div class="form-group" id="name">
                    <label for="bio">Nombre:</label><br>
                    <input class="form-control" type="text" name="name" value="">
                  </div>

                  <div class="form-group" id="description">
                    <label for="bio">Descripción:</label><br>
                    <input class="form-control" type="text" name="description" value="">
                  </div>

                  <div class="form-group" id="author">
                    <label for="bio">Autor:</label><br>
                    <input class="form-control" type="text" name="author" value="">
                  </div>                  

                </section>

                <section class="col-md-6">
                  
                  <div class="form-group" id="department">
                    <label for="bio">Departamento:</label><br>
                    <input class="form-control" type="text" name="department" value="">
                  </div>

                  <div class="form-group" id="ingredients">
                    <label for="bio">Ingredientes:</label><br>
                    <input class="form-control" type="text" name="ingredients" value="">
                  </div>

                  <div class="form-group" id="steps">
                    <label for="bio">Preparación:</label><br>
                    <textarea class="form-control" name="steps"></textarea>
                  </div>

                  <!--<div class="form-group" id="imageurl">
                    <label for="bio">ruta de la imagen:</label><br>
                    <textarea class="form-control" name="imageurl"></textarea>
                  </div>-->

                </section>

                <button type="submit" class="btn btn-green waves-attach">Agregar</button>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="btn btn-orange waves-attach" value="Cancelar"></input>
              </div>
            </form>

            <!-- Formulario modificar receta -->
            <form id="frm-modify-recipe" class="form-recipe" method="POST" style="display: none;">

              <div id="form-modify-recipe" class="col-md-12" >
                <div>
                  <label for=""><h2>Modificar receta</h2></label>
                </div>

                <section class="col-md-6 ">
                  <div class="form-group" id="code">
                    <label for="bio">Código:</label><br>
                    <input class="form-control" type="text" name="code" id="mod_code">
                  </div>

                  <div class="form-group" id="name">
                    <label for="bio">Nombre:</label><br>
                    <input class="form-control" type="text" name="name" id="mod_name">
                  </div>

                  <div class="form-group" id="description">
                    <label for="bio">Descripción:</label><br>
                    <input class="form-control" type="text" name="description" id="mod_description">
                  </div>

                  <div class="form-group" id="author">
                    <label for="bio">Autor:</label><br>
                    <input class="form-control" type="text" name="author" id="mod_author">
                  </div>

                </section>

                <section class="col-md-6">

                  <div class="form-group" id="department">
                    <label for="bio">Departamento:</label><br>
                    <input class="form-control" type="text" name="department" id="mod_department">
                  </div>

                  <div class="form-group" id="ingredients">
                    <label for="bio">Ingredientes:</label><br>
                    <input class="form-control" type="text" name="ingredients" id="mod_ingredients">
                  </div>

                  <div class="form-group" id="steps">
                    <label for="bio">Preparación:</label><br>
                    <textarea class="form-control" name="steps" id="mod_steps"></textarea>
                  </div>
                </section>

                <input id="button_update" type="submit" class="modify-recipe btn btn-primary btn-block btn-flat" value="Actualizar"></input>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-recipes btn btn-danger btn-block btn-flat" value="Cancelar" />
              </div>
            </form>
                     
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="ui-footer">
    <div class="container">
      <p>Adapatación prueba Recetasde cocina</p>
    </div>
  </footer>
  <!-- js -->
  <script src="js/jquery.min.js"></script>
  <script src="js/base.min.js"></script>
  <script src="js/project.min.js"></script>
  <script src="js/mainRecipes.js" type="text/javascript" charset="utf-8" ></script>
</body>
</html>